<div class="reservation">
    <div class="trajetChoisi">
        <div *ngFor="let covoiturageLieu of covoiturageLieus ">
            <app-reservation-card
            [covoiturageLieu] = covoiturageLieu
            [nomManifestation] =nomManifestation
            [nbPassenger] = nbPassenger
            ></app-reservation-card>
            <br/>
        </div>

    </div>
    <div class="contactezMoi">
        <h2 class="center">Contactez moi </h2>
        <div class="conducteur">
            <p>{{offreCovoiturage.conducteur.prenom}}</p>
            <span class="spacer"></span>
            <mat-icon aria-hidden="false" aria-label="person icon" fontIcon="person" class="person-icon"></mat-icon>
        </div>
        <div class="contactConducteur">
          <div class="flex">
            <mat-icon id="icon-chat" aria-hidden="false" aria-label="chat icon" fontIcon="chat" ></mat-icon>
                <p class="nav-text">M'envoyer un message</p>
          </div>
            <p class="nav-text">{{offreCovoiturage.conducteur.mail}}</p>
          <div class="flex">
            <mat-icon id="icon-call"aria-hidden="false" aria-label="call icon" fontIcon="call" ></mat-icon>
              <p>Me contacter par téléphone</p>
          </div>
            <p>{{offreCovoiturage.conducteur.telephone}}</p>
        </div>
    </div>
</div>