<div class="header">
    <mat-toolbar>
      <a routerLink=""><img src="assets/FestCar.png" alt="Logo"></a>
      <div class="searchBar">
        <div class="center">
          <a (click)="navigateToRecherche()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
          </a>
        </div>
        <input type="text" placeholder="Rechercher ..." [(ngModel)]="searchQuery">
      </div>
      <span class="spacer"></span>
      <div class="icons">
              <button mat-button class="icon" [matMenuTriggerFor]="connectionMenu">
                 <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
                  <br/>
                  <label for="utilisateur">{{ userName }}</label>
              </button>
          <mat-menu #connectionMenu="matMenu">
              <button *ngIf="estConnecte" mat-menu-item (click)="logout()">Se déconnecter</button>
              <button *ngIf="!estConnecte" mat-menu-item [routerLink]="['/login']">Se connecter</button>
          </mat-menu>


          <a routerLink="panier">
          <button mat-button class="icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>
              <br/>
            <label for="panier">Mon panier</label>
          </button>
        </a>
      </div>
    </mat-toolbar>
</div>