<div class="header">
    <mat-toolbar>
      <a routerLink=""><img src="assets/FestCar.png" alt="Logo"></a>
      <div class="searchBar">
        <div class="center">
          <a (click)="navigateToRecherche()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
          </a>
        </div>
        <input type="text" placeholder="Rechercher ..." [(ngModel)]="searchQuery">
      </div>
      <span class="spacer"></span>
      <div class="icons">
        <a routerLink="user">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon><br>
            <label for="utilisateur">Utilisateur</label>
          </div>
        </a>
        <a routerLink="panier">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon><br>
            <label for="panier">Mon panier</label>
          </div>
        </a>
      </div>
    </mat-toolbar>
</div>