.search-page {
  margin: 0;
  padding: 30px;
  font-family: OPEN SANS SEMIBOLD, sans-serif;
}
.word-search {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 11pt;
}

.search-page-toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-page-choice-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > *:not(:last-child) {
    margin-right: 50px;
  }
}

.search-page-choice-bar {
  background-color: #9ed186ff;

}

.search-page-choice-bar-container-button {
  background-color: whitesmoke;
}
.search-page-festival-name {
  font-weight: bold;
  font-family: Open, sans-serif;
  font-size: 11pt;
}

@media screen and (max-width: 800px) {
  .search-page-choice-row {
    flex-direction: column;
    align-items: stretch;
  }

  .search-page-choice-row > form, .search-page-choice-row > mat-form-field {
    margin-left: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
}
