.carpool-search-driver-card {
  font-family: OPEN SANS SEMIBOLD, sans-serif;
  font-size: 14px;
  border: #f1ce53ff dashed;
}
.carpool-search-driver-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  min-width: 50px;
  min-height: 50px;
}

.carpool-search-driver-card-col {
  flex: 1 1 auto;
  padding: 10px;
  overflow: visible;
  min-width: 50px;
  min-height: 50px;
}
.carpool-search-driver-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
  gap: 30px;
}

.carpool-search-driver-card > .carpool-search-driver-card-info {
  flex: 1;
}

.carpool-driver-card-reserve {
  background-color: #f1ce53ff;
}


.mat-icon {
  font-size: 50px;
  height: 50px !important;
  width: 50px !important;
}
.offers-container-title {
  font-family: OPEN SANS SEMIBOLD, sans-serif;
  font-size: 11px;
  color: #007f5fff;
}

@media screen and (max-width: 600px) {
  .responsive{
    display: inline;
  }
  .carpool-search-driver-card{
    display: inline-block;

  }
  mat-card{
    box-shadow: none !important;
    border: none !important;
  }
  .carpool-search-driver-card {
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .carpool-search-driver-card-row {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    min-width: 20px;
    min-height: 20px;
  }
  
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .carpool-driver-card-reserve {
    background-color: #f1ce53ff;
    width: 100%;
  }

  .carpool-search-driver-card-row.responsive {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .driver-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    
  }

  .offers-container {
    display: flex;
    flex-direction: column;
  }



  .search-page-driver-name {
    margin-left: 10px;
  }

  @media (max-width: 600px) {
    .driver-info-container {
      flex-direction: column;
    }
  }

  
}
