<mat-card class="search-page-result-card">
    <mat-card-content>
        <div class="search-page-result-card-row">
            <div class="imageContainer">
                <img [src]="getImagePath()" alt="Image du domaine" class="imageDomaine">
            </div>
            <div class="search-page-result-card-col">
               <div>
                    <p class="search-page-festival-name">{{ festivalName }}</p>
                    <p>{{ nomDomaine }}</p>
                    <p class="long">{{ siteWeb }}</p>
                    <p>du {{startDate | date:'dd/MM/yyyy'}}</p>
                    <p>au {{endDate | date:'dd/MM/yyyy'}}</p>
                    <p>{{lieuPrincipal}}, {{codePostal}}</p>
               </div>
            </div>
            <span class="spacer"></span>
            <div class="search-page-result-card-col">
                <p>A partir de <b>{{price}} €</b></p>
                <p>
                    <a (click)="navigateToCovoiturage()">
                        <button mat-raised-button class="search-card-button">Voir les offres de covoiturage  </button>
                    </a>
                </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
