.search-page-result-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-page-result-card-col {
    flex: 1;
    padding: 10px 10px 10px 50px;

}
.spacer{
  flex: 1 1 auto;
}


.festival-image {
    width: 80%;
    height: 80%;
}

.search-card-button {
    background-color: #f1ce53ff;
}

.search-page-result-card {
    font-family: OPEN SANS SEMIBOLD, sans-serif;
    border: 2px dashed #f1ce53ff;
}

.search-page-festival-name {
    font-weight: bold;
    font-size: 20px;
    color: #007f5fff;
}
.imageDomaine {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    margin: 1%;
  }
@media (max-width: 900px) {
    .search-page-result-card-row{
     display: inline;
     text-align: center;
    }
    .imageDomaine {
        width: 150px; 
        height: 150px; 
        
      }
      .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .long {
        word-break: break-all;
    }
    
    
}
