.search-page-result-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-page-result-card-col {
    flex: 1;
    padding: 10px;
   
}

.festival-image {
    width: 80%;
    height: 80%;
}

.search-card-button {
    background-color: #f1ce53ff;
}

.search-page-result-card {
    font-family: OPEN SANS SEMIBOLD, sans-serif;
    border: 2px dashed #f1ce53ff;
}

.search-page-festival-name {
    font-weight: bold;
    font-size: 20px;
    color: #007f5fff;
}
@media (max-width: 900px) {
    .search-page-result-card-row{
       display : inline;
    }
    .long {
        word-break: break-all;
    }

}
