<mat-card class="search-page-result-card">
    <mat-card-content>
        <div class="search-page-result-card-row">
            <div class="search-page-result-card-col">
                <p class="search-page-festival-name">{{ festivalName }}</p>
                <p>{{ siteWeb }}</p>
                <p>du {{startDate}}</p>
                <p>au {{endDate}}</p>
                <p>{{lieuPrincipal}}, {{codePostal}}</p>
            </div>

            <div class="search-page-result-card-col">
                <p>A partir de {{price}} euros</p>
                <p>
                    <a (click)="navigateToCovoiturage()">
                        <button mat-raised-button class="search-card-button">Voir les offres de covoiturage  </button>
                    </a>
                </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
