form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.wrapper{
    display: grid;
    width: 100%;
    justify-content: center;
    gap: 30px;
    place-items: center;
    font-family: OPEN SANS SEMIBOLD, sans-serif;
}

button{
    color: white;
}

.register-submit-button {
    background-color: #9ed186ff !important;
}

.register-google-button {
    background-color: #f1ce53ff !important;
    color: black !important;
}