.login {
    font-family: OPEN SANS SEMIBOLD, sans-serif;
}
.connexion{
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 45vh; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
.wrapper{
    display: grid;
    width: 100%;
    justify-content: center;
    place-items: center;
}
.error
{
    color: red;
}


form{
    display: grid;
    place-items: stretch;
    width: 400px;
    margin-bottom: 10px;
    padding-top: 5%;
}

.login-submit-button {
    background-color: #9ed186ff !important;
}

.login-google-button {
    background-color: #f1ce53ff !important;
    color: black !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

.separator {
    margin-top: 30px;
}
button{
    color: white;
}


.register-google-button {
    background-color: #f1ce53ff !important;
    color: black !important;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .connexion{
        padding: 28px 10px 10px 10px;
    }
}