
.home-page-container {
    border: #f1ce53ff dashed 5px;  
   border-radius: 10px;
    padding: 50px;
    width: 25%; 
    text-align: center;
    height: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: absolute;
    top: 40%;
    left: 53%;
    transform: translate(-50%, -50%);
}
.home-page-title {
    font-family: OPEN SANS SEMIBOLD, sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.home-page-button {
    background-color: #f1ce53ff !important;
    padding: 10px 20px;
    font-size: 14px;
}
.spacer{
    flex: 1 1 auto;
  }
.palmier-container {
    position: absolute;
    bottom: 0;
    left: 0;
}
.palmier-container  img{
    height: 500px;
}

.roue-container {
    position: absolute;
    top: 80px;
    right: 0;
}
.roue-container img{
    height: 150px;
    transform: rotate(25deg);
    max-width: 80%; 
}
.billet-container {
    position: absolute;
    bottom: 0;
    right: 10px;
}
.billet-container img{
    height: 250px;;
    max-width: 100%; 

}

.body {
    background: linear-gradient(#007F5F, #9ed186);
    height: 100%;
}

@media screen and (max-width: 700px) {
    .palmier-container  img{
        height: 150px;
    }
    
    .roue-container {
        top: 80px;
    }
    .roue-container img{
        height: 75px;
   
    }
    .billet-container img{
        height: 150px;;
    }

    .home-page-container {
        padding: 25px;
        width: 50%;
       

    }
    .home-page-title {
        font-size: 20px;
    
    }
}
