.word-search {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 11pt;
}
.carpool-search-page {
  margin: 0;
  padding: 30px;
}

.carpool-search-passenger-button {
  display: flex;
  align-items: center;
}

.carpool-search-bar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
