.offre-covoiturage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offre-col {
  flex: 1;
  padding: 0 10px;
}

.offre-covoiturage-reserve {
  background-color: #f1ce53ff;;
}

.offre-covoiturage-title {
  font-family: OPEN SANS SEMIBOLD, sans-serif;
  font-size: 11px;
  color: #007f5fff;
}
