<div class="panier">  
    <div class="elementPanier">
        <div class="ticket">
            <div class="detailTicket">
                <h2>Covoiturage</h2>
                <p>LieuDepart Festival 10h15 -> LieuArrivée Festival 12h50</p>
                <h2>Pass Festival</h2>
                <p>Titre Festival (du 25/07/8975 au 56/87/7898)</p>
            </div>
            <div class="quantite">
                <br>
                <div class="quantiteCovoiturage">
                   <b> <p>x 5</p></b>
                </div><br>
               <div class="quantiteFestival">
                   <b> <p>x 5</p></b>
               </div>
            </div>
            <div class="prix">
                <br>
                <div class="prixCovoiturage">
                    <p>50,00 euros</p>
                </div><br>
               <div class="prixFestival">
                    <p>50,00 euros</p>
               </div>
            </div>
            <span class="spacer"></span>
            <div class="selectionTicket">
                <input type="checkbox" id="cb1" name="Ticket" class="custom-checkbox" />
            </div>
        </div>
        <hr>
       <div class="prixTotal">
        <h1> PRIX TOTAL</h1>
        <div class="montant"> <p>100,00 euros</p></div>
       </div>
    </div>  
    <div class="elementPanier">
        <div class="ticket">
            <div class="detailTicket">
                <h2>Covoiturage</h2>
                <p>LieuDepart Festival 10h15 -> LieuArrivée Festival 12h50</p>
                <h2>Pass Festival</h2>
                <p>Titre Festival (du 25/07/8975 au 56/87/7898)</p>
            </div>
            <div class="quantite">
                <br>
                <div class="quantiteCovoiturage">
                   <b> <p>x 5</p></b>
                </div><br>
               <div class="quantiteFestival">
                   <b> <p>x 5</p></b>
               </div>
            </div>
            <div class="prix">
                <br>
                <div class="prixCovoiturage">
                    <p>150,00 euros</p>
                </div><br>
               <div class="prixFestival">
                    <p>150,00 euros</p>
               </div>
            </div>
            <span class="spacer"></span>
            <div class="selectionTicket">
                <input type="checkbox" id="cb1" name="Ticket" class="custom-checkbox" />
            </div>
        </div>
        <hr>
       <div class="prixTotal">
        <h1> PRIX TOTAL</h1>
        <div class="montant"> <p>300,00 euros</p></div>
       </div>
    </div>  
       
    <button > Valider le panier</button>                                                                            
</div>
