<div class="panier">  
    <div class="elementPanier" *ngFor="let panierOffre of (panier | async)?.panierOffres">
        <div class="ticket">
            <div class="detailTicket">
                <h2>Covoiturages</h2>
                <p>
                    <b>Départ</b> : {{panierOffre.covoiturageLieu.lieuCovoiturage.nomLieu}} {{ panierOffre.covoiturageLieu.horaire | date:'shortTime':'GMT+1' }}
                </p>
                <h2>Pass Festival</h2>
                <p>
                    <b>Titre Festival</b> : {{panierOffre.festival.nomManifestation}} (du {{panierOffre.festival.dateDebut | date:'dd/MM/yyyy'}} au {{panierOffre.festival.dateFin | date:'dd/MM/yyyy'}})
                </p>
            </div>
            <div class="quantite">
                <br>
                <div class="quantiteCovoiturage">
                   <b> <p>x {{panierOffre.quantite}}</p></b>
                </div><br>
               <div class="quantiteFestival">
                   <b> <p>x {{panierOffre.quantite}}</p></b>
               </div>
            </div>
            <div class="prix">
                <br>
                <div class="prixCovoiturage">
                    <p>{{panierOffre.covoiturageLieu.prix}} euros</p>
                </div><br>
               <div class="prixFestival">
                    <p>{{panierOffre.festival.tarifPass}} euros</p>
               </div>
            </div>
            <span class="spacer"></span>
            <div class="selectionTicket">
                <input type="checkbox" id="cb1" name="Ticket" class="custom-checkbox" />
            </div>
        </div>
        <hr>
       <div class="prixTotal">
        <h1> PRIX TOTAL</h1>
        <div class="montant"> <p>{{getPrixTotal(panierOffre)}} euros</p></div>
       </div>
    </div>  
       
    <button class="panier-valide-boutton"> Valider le panier</button>
</div>
