<div class="panier">  
    <div class="elementPanier">
        <div class="ticket">
            <div class="detailTicket">
                <h2>COVOITURAGE</h2>
                <p>LieuDepart Festival 10h15</p> 
                <p>LieuArrivée Festival 12h50</p>
                <h2>PASS FESTIVAL</h2>
                <p>Titre Festival </p>
                <p>Du 25/07/8975 au 56/87/7898</p>
                <p class ="quantite">Quantité : 5</p>
            </div> 
            <div class="prix">
                <br>
                <div class="prixCovoiturage">
                    <p>50,00€</p>
                </div><br>
               <div class="prixFestival">
                    <p>50,00€</p>
               </div>
            </div>
            <span class="spacer"></span>
            <div class="selectionTicket">
                <input type="checkbox" id="cb1" name="Ticket" class="custom-checkbox" />
            </div>
        </div>
        <hr>
       <div class="prixTotal">
        <h1> PRIX TOTAL</h1>
        <div class="montant"> <p>100,00€</p></div>
       </div>
    </div>  
    <div class="elementPanier">
        <div class="ticket">
            <div class="detailTicket">
                <h2>COVOITURAGE</h2>
                <p>LieuDepart Festival 10h15</p> 
                <p>LieuArrivée Festival 12h50</p>
                <h2>PASS FESTIVAL</h2>
                <p>Titre Festival </p>
                <p>Du 25/07/8975 au 56/87/7898</p>
                <p class ="quantite">Quantité : 5</p>
            </div>
            <div class="prix">
                <br>
                <div class="prixCovoiturage">
                    <p>150,00€</p>
                </div><br>
               <div class="prixFestival">
                    <p>150,00€</p>
               </div>
            </div>
            <span class="spacer"></span>
            <div class="selectionTicket">
                <input type="checkbox" id="cb1" name="Ticket" class="custom-checkbox" />
            </div>
        </div>
        <hr>
       <div class="prixTotal">
        <h1> PRIX TOTAL</h1>
        <div class="montant"> <p>300,00€</p></div>
       </div>
    </div> 
    <button class="panier-valide-boutton"> Valider le panier</button>
</div>
